apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-its-deployment
spec:
  replicas: 10
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
        labels:
          app: nginx
    spec:      
      containers:
      - name: my-pod
        image: nginx:latest
        ports:
          - containerPort: 80    
